.wether {
  place-self: center;
  padding: 40px;
  border-radius: 10px;
background-image: linear-gradient(45deg,#2f4680,#500ae4);
display: flex;
flex-direction: column;
align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 12px;
}


.wether-icon{
  width: 150px;
  margin: 30px 0;
}

.temperature{
  color: #fff;
  font-size:80px;
  line-height: 1;
}

.loaction{
  color: #fff;
  font-size: 40px;
  margin-top: 10px;
}

.wether-data{
  width: 100%;
  margin-top: 30px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.wether-data .col{
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 22px;
}

.wether-data .col span{
  display: block;
  font-size:16px
}
.wether-data .col img{
  width: 26px;
}
